$black: #3E414A;
$gray: #3a3a42;
$medium-gray: #d9d8dd;
$light-gray: #f6f7fb;
$milky: #efefff;

$turquoise: #6dacbe;
$blue: #3a66a1;
$green: #7AC279;
$orange: #ef7300;
$yellow: #ffce08;
$red: #E04A54;

// gris bg ? #F6F7FA
// gray tags ? #A4A5A9
// gray icons ? #D9D9DC
