// default colors
$red: #ee5f5b;
$light-gray: #f4f4f4;

// colors for the project
$gray: #3a3a42;
$turquoise: #6dacbe;
$blue: #3a66a1;
$green: #79c37d;
$milky: #efefff;
$orange: #ef7300;
$yellow: #ffce08;

// custom colors
$flat-blue: #0097ef;
