// Default colors
$red: #EE5F5B;
$green: #32B796;
$light-gray: #F4F4F4;

// Colors for the project
$gray: #3A3A42;
$blue: #3A66A1;
$milky: #EFEFFF;
$orange: #EF7300;
$yellow: #FFCE08;

// Custom colors
$flat-blue: #0097ef;
