@import url("https://fonts.googleapis.com/css?family=Libre+Franklin:400,700|Libre+Baskerville:400,700");

$headers-font: "Libre Franklin", "Helvetica", "sans-serif";
$body-font: "Libre Baskerville", "Helvetica", "serif";

// To use a font file (.woff) uncomment following lines
// @font-face {
//   font-family: "Font Name";
//   src: font-url('FontFile.eot');
//   src: font-url('FontFile.eot?#iefix') format('embedded-opentype'),
//        font-url('FontFile.woff') format('woff'),
//        font-url('FontFile.ttf') format('truetype')
// }
// $my-font: "Font Name";
