<p>Bonjour,</p>
<p>Je souhaite rencontrer cette personne:</p>
 <p><strong><%= @contact.title %></strong><br>
 <em><%= @contact.description%></em></p>

<p>Pour rappel, notre activité :</p>
<p>Solution :</p>
<p>Marché visé :</p>

<p>Nos derniers indicateurs :</p>
<ul>
  <li>Chiffre d’affaires mensuel : €</li>
  <li>Nombre de clients : </li>
  <li>Taux de satisfaction : %</li>
</ul>
<p>Merci</p>
<p>Bonne journée</p>
<p><%= @user.email %></p>
