<h1>test</h1>
<p>Bonjour,</p>

  <p class="text-right">Nos derniers indicateurs :</p>
  <ul>
    <li>Chiffre d’affaires mensuel : <%= @ca %>€</li>
    <li>Dépenses mensuelles : <%= @depenses %>€</li>
    <li>Trésorerie disponible à date : €</li>
    <li>Nombre de clients : <%= @nb_client %></li>
    <li>Taux de conversion lead -- client : %</li>
    <li>Taux de satisfaction client : %\n</li>
  </ul>

  <p>Mes besoins</p>
  <ul>
    <li><em>Une nouvelle offre d’emploi</em></li>
    <li><em>Une mise en relation avec un de nos experts</em></li>
    <li><em>Un conseil particulier ?</em></li>
  </ul>


  <p>Quelques informations diverses :</p>
  <ul>
    <li><em>Un nouveau cas client ? une récente publication ? Une interview ?</em></li>
    <li><em>Bonne nouvelle ou mauvaise nouvelle ;</em></li>
    <li><em>Peu importe, nous sommes à votre écoute</em></li>
  </ul>

  <p>Merci</p>
  <p>Bonne journée</p>

     <p><%= @user.email %></p>
