<div class="button-tags-container text-center">
  <div class="checkbox">
    <input type="checkbox" id="building" name="building">
    <label for="building">Building</label>
  </div>
  <div class="checkbox">
    <input type="checkbox" id="hiring" name="hiring">
    <label for="hiring">Hiring</label>
  </div>
  <div class="checkbox">
    <input type="checkbox" id="funding" name="funding">
    <label for="funding">Funding</label>
  </div>
  <div class="checkbox">
    <input type="checkbox" id="growing" name="growing">
    <label for="growing">Growing</label>
  </div>
</div>
