<%#= render partial: "shared/button_tag" %>

<hr class="latest">
<!-- products-container is here to make a group of the latest articles -->
<section class="products-container">
  <% @new_articles.each do |article| %>
    <%= render partial: "articles/card", locals: { article: article } %>
  <% end %>
</section>

<hr class="popular">
<!-- same as above but add js stuff on this container :D -->
<section class="products-container filtr-container infinite-container">
  <% @sorted_articles.each do |article| %>
    <%= render partial: "articles/card", locals: { article: article } %>
  <% end %>
</section>
