<% content_for :title, "- Great Infos !!" %>

<%= render "shared/button_tag", button: 'Add a link' %>

<div class="article-latest-cards-container">
  <h1 class="featured-wording">Our featured articles</h1>
  <% @featured_articles.each do |article| %>
    <%= render "articles/card", article: article %>
  <% end %>
</div>

<h1 class="most-popular-wording">Our most popular articles</h1>
<div class="article-upvoted-cards-container">
  <% @sorted_articles.each do |article| %>
    <%= render "articles/card", article: article %>
  <% end %>
</div>

<%= render partial: "shared/drift" %>

<% content_for(:after_js) do %>
<script>
  $(document).ready(function(){
    var $knowledge_container = $('.article-upvoted-cards-container').isotope({
      itemSelector: '.filtered-item',
      percentPosition: true
    });

    var $radio = $('.button-tags-container .radio input');
    $('.filters').on('click', 'input', function() {
      $knowledge_container.isotope({ filter: this.value });
    });
  })
</script>
<% end %>
