<!-- <div class="filtr-container">
    <div class="filtr-item" data-category="1">
       <p>hello</p>
    </div>
    <div class="filtr-item" data-category="2">
       <p>yolo</p>
    </div>
    <div class="filtr-item" data-category="3">
       <p>swag</p>
    </div>
</div> -->

<hr>--------- ★ NEW ARTICLES ★ -----------<hr>
<div class="products-container">
  <% @new_articles.each do |article| %>
    <%= render partial: "articles/content", locals: { article: article } %>
  <% end %>
</div>
<hr>--------- ↓ OLDER ONES ↓ -----------<hr>

<div class="products-container filtr-container infinite-container">
  <% @sorted_articles.each do |article| %>
    <%= render partial: "articles/content", locals: { article: article } %>
  <% end %>
</div>

<div class="pagination">
  <span class="pagination__current">Page 1</span>
  <a class="pagination__next" href="/">Next</a>
</div>
