<h1 class= "text-center">Articles</h1>

<hr>--------- ★ NEW ARTICLES ★ -----------<hr>

<div class="product">
  <% @new_articles.each do |article| %>
    <%= render partial: "articles/content", locals: { article: article } %>
  <% end %>

<hr>--------- ↓ OLDER ONES ↓ -----------<hr>

  <% @array_sorted_articles.each do |article| %>
    <%= render partial: "articles/content", locals: { article: article } %>
  <% end %>
</div>
