h1, h2 {
  font-weight: bold;
  font-size: $h2-size;
}
p {
  font-size: $p-size;
  // word-break: break-all;
}
a:hover {
  text-decoration: none;
}
li, p, a, h1, h2, label, .form-control {
  color: $black;
}
textarea {
  resize: vertical;
}
