<h1>Network</h1> <%= button_new_invitation %>
<p>Tous nos contacts sont mobilisables pour vous. Demandez une mise en relation</p>
<% @users.each do |user| %>
  <%= render 'card', element: user %>
<% end %>

