<div class="button-tags-container text-center sticky">
  <% if current_user.super_admin? && current_page?('/network') %>
    <%= button_new_contact %>
  <% elsif button == 'shuffle' %>
    <a href="#shuffled" class="green-button" id='shuffle'><%= button %></a>
  <% else %>
    <%= button_new_article %>
  <% end %>
  <section class="checkbox">
    <input type="checkbox" id="building" value=".building" name="building">
    <label for="building" data-toggle="tooltip" data-placement="bottom"
      title="pour construire plus de valeur ajoutée autour de ses innovations et de ses technologies">Building</label>
  </section>
  <section class="checkbox">
    <input type="checkbox" id="hiring" value=".hiring" name="hiring">
    <label for="hiring" data-toggle="tooltip" data-placement="bottom"
      title="pour recruter et créer une culture d'entreprise">Hiring</label>
  </section>
  <section class="checkbox">
    <input type="checkbox" id="funding" value=".funding" name="funding">
    <label for="funding" data-toggle="tooltip" data-placement="bottom"
      title="pour se financer et gérer sa trésorerie">Funding</label>
  </section>
  <section class="checkbox">
    <input type="checkbox" id="growing" value=".growing" name="growing">
    <label for="growing" data-toggle="tooltip" data-placement="bottom"
      title="pour accélérer son développement commercial">Growing</label>
  </section>
  <%= render 'shared/credits' %>
</div>
