<div class="button-tags-container text-center">
  <% if button == 'shuffle' %>
      <a href="#shuffled" class="green-button" data-shuffle><%= button %></a>
  <% else %>
    <%= button_new_article %>
  <% end %>
  <div class="checkbox">
    <input type="checkbox" id="building" name="building">
    <label for="building" data-multifilter="1">Building</label>
  </div>
  <div class="checkbox">
    <input type="checkbox" id="hiring" name="hiring">
    <label for="hiring" data-multifilter="2">Hiring</label>
  </div>
  <div class="checkbox">
    <input type="checkbox" id="funding" name="funding">
    <label for="funding" data-multifilter="3">Funding</label>
  </div>
  <div class="checkbox">
    <input type="checkbox" id="growing" name="growing">
    <label for="growing" data-multifilter="4">Growing</label>
  </div>
  <p class="made-love">Made w/ <i class="fa fa-heart red-heart" aria-hidden="true"></i> in Bordeaux</p>
  <%= link_to "Credits", 'https://www.lewagon.com/', class:'green-credits' %>
</div>
