<div class="button-tags-container text-center sticky">
  <% if current_user.super_admin? && current_page?('/network') %>
    <%= button_new_contact %>
  <% elsif button == 'shuffle' %>
    <a href="#shuffled" class="green-button" id='shuffle'><%= button %></a>
  <% else %>
    <%= button_new_article %>
  <% end %>
  <section class="checkbox">
    <input type="checkbox" id="building" value=".building" name="building">
    <label for="building">Building</label>
  </section>
  <section class="checkbox">
    <input type="checkbox" id="hiring" value=".hiring" name="hiring">
    <label for="hiring">Hiring</label>
  </section>
  <section class="checkbox">
    <input type="checkbox" id="funding" value=".funding" name="funding">
    <label for="funding">Funding</label>
  </section>
  <section class="checkbox">
    <input type="checkbox" id="growing" value=".growing" name="growing">
    <label for="growing">Growing</label>
  </section>
  <p class="made-love">Made w/ <i class="fa fa-heart red-heart" aria-hidden="true"></i> in Bordeaux</p>
  <%= link_to "Credits", 'https://www.lewagon.com/', class:'green-credits' %>
</div>
