<div class="button-tags-container text-center sticky">
  <% if current_user.super_admin? && current_page?('/network') %>
    <%= button_new_contact %>
  <% elsif button == 'shuffle' %>
    <a href="#shuffled" class="green-button" id='shuffle'><%= button %></a>
  <% else %>
    <%= button_new_article %>
  <% end %>

  <form class="filters">
    <label for="all">
      <input type="radio" value="" name="filter" checked="checked">
      Show all
    </label>
    <label for="building">
      <input type="radio" value=".building" name="filter">
      Building
    </label>
    <label for="hiring">
      <input type="radio" value=".hiring" name="filter">
      Hiring
    </label>
    <label for="funding">
      <input type="radio" value=".funding" name="filter">
      Funding
    </label>
    <label for="growing">
      <input type="radio" value=".growing" name="filter">
      Growing
    </label>
  </form>
  <p class="made-love">Made w/ <i class="fa fa-heart red-heart" aria-hidden="true"></i> in Bordeaux</p>
  <%= link_to "Credits", 'https://www.lewagon.com/', class:'green-credits' %>
</div>
