<p class="made-love">
  Made w/ <i class="fa fa-heart red-heart" aria-hidden="true">
    </i> in Bordeaux by <%= link_to "LeWagon",
    'https://www.lewagon.com/', class:'green-credits' %> and <%= link_to "AQUITI",
    'http://aquiti.fr', class:'green-credits' %>.<br \>
    Pour en savoir <%= link_to "plus", 'https://medium.com/@fmerian/ci-dessous-lemail-que-nous-avons-envoy%C3%A9-%C3%A0-nos-entrepreneurs-cette-semaine-9ffb5684659e', class:'green-credits' %>.
</p>

<!-- "Made w/ :D in Bordeaux by <a href="https://www.lewagon.com/bordeaux">Le Wagon</a> and <a href="http://aquiti.fr">AQUITI</a>. Pour en savoir <a href="https://medium.com/@fmerian/ci-dessous-lemail-que-nous-avons-envoy%C3%A9-%C3%A0-nos-entrepreneurs-cette-semaine-9ffb5684659e">plus</a> -->
