<p class="made-love">
  Made w/ <i class="fa fa-heart red-heart" aria-hidden="true">
    </i> in Bordeaux by our team from <%= link_to "LeWagon",
    'https://www.lewagon.com/', class:'green-credits' %>
</p>
