 <div id="onboarding_text_1" class="active">

  <h1><b>Cher(e)s entrepreneur(e)s, ensemble nous démarrons notre collaboration, voici quelques recommandations.</b></h1>
  <h2><b>Bienvenue</b></h2>
  <p>Nous vous remercions pour votre confiance et sommes ravis de participer au développement
      de votre entreprise.</p>
  <p>D'abord, nous souhaitons rapidement nous présenter pour comprendre qui nous sommes,
      ce que nous faisons et la manière dont nous travaillons.</p>
  <h2><b>Notre métier</b></h2>
  <p>En bref, nous investissons tous les mois dans 2 à 3 entreprises en Nouvelle-Aquitaine,
      sous forme de prêts d'honneur jusqu'à 100K€ et/ou de participation au capital
      jusqu'à 3M€.</p>
  <h2><b>Notre équipe</b></h2>
  <p>L'équipe est répartie entre Bordeaux, Poitiers et Limoges.</p>
  <p>Vous pouvez consulter nos profils sur <a href="https://www.linkedin.com/company/2795653/"><em>LinkedIn</em></a>.
        Nous sommes également sur <a href="http://twitter.com/AquitiGestion"><em>Twitter</em></a>.
        N'hésitez pas à nous ajouter et à nous suivre. Nous communiquons principalement
        par <em>email</em>.</p>
    <h2><b>Reporting</b></h2>
    <p>Il est essentiel d'informer vos investisseurs régulièrement sur votre activité.</p>
    <p>Nous vous remercions de bien vouloir nous mettre en copie de vos rapports d'activités.
        Les meilleures entreprises nous les communiquent une fois par mois. Nous vous
        donnons quelques conseils dans <a href="http://www.aquiti.fr/6-indicateurs/">cet article</a> et vous pouvez télécharger ici <a href="https://cl.ly/2g3q2I3A0l1b">un exemple de format</a>.</p>
    <h2><b>Enquête d'activités annuelle</b></h2>
    <p>En plus du reporting mensuel, nous vous solliciterons 1 fois par an pour vous demander
        quelques données économiques. Notre objectif est que cela reste le plus simple
        et le moins chronophage possibles pour vous.</p>
    <p><b>Les pages suivantes ont pour objectif de vous partager les principes qui nous semblent essentiels pour la réussite de votre entreprise. Pour aller plus loin, sur des sujets plus spécifiques, nous vous invitons à explorer les ressources disponibles sur </b><b><i><a href="http://witty.vc">witty.vc</a>.</i></b>
    </p>
  </div>

<div id="onboarding_text_2">
    <h1>Ce que nous attendons des entrepreneur(e)s</h1>
    <p>Nous savons que l'entrepreneuriat est un challenge quotidien.</p>
    <p>Nous sommes à vos côtés pour vous donner les moyens, les ressources et l'expertise
        nécessaire pour réussir votre entreprise.</p>
    <h2>Quelque soit votre expérience, nous tenons à vous rappeler <b>les éléments qui nous semblent importants pour votre réussite</b> :</h2>
    <ul>
        <li><b>Construisez la meilleure équipe</b>. C'est essentiel. Recrutez des personnes
            partageant votre engagement et surpassez-vous.</li>
        <li><b>Développez votre capacité d'apprentissage</b>. Apprenez tous les jours de
            vos erreurs pour prendre de meilleurs décisions.</li>
        <li><b>Trouvez l'équilibre</b> entre ambition et humilité, entre capacité d'écoute
            et détermination.</li>
        <li><b>Restez focus</b>. Votre capacité d'exécution est essentielle.</li>
        <li><b>Accélérez</b>. Vos décisions doivent avoir pour principal objectif de développer
            et de créer davantage de valeur pour votre entreprise.</li>
    </ul>
    <p>Nous sommes ravis de participer au financement de votre entreprise, nous souhaitons
        votre réussite, mais nous sommes humains avant tout. Nous ne pouvons travailler
        efficacement que si et seulement si vous nous communiquez régulièrement des informations
        claires, honnêtes et pertinentes.</p>
    <p>Nous ne sommes pas des investisseurs à court-terme, nous ne finançons pas votre trésorerie
        et nous ne pouvons pas trouver de solutions si vous ne nous partagez pas d'informations
        régulièrement.</p>
    <h2>Par conséquent, <b>ce que nous attendons de vous</b> :</h2>
    <ul>
        <li><b>Communiquez régulièrement</b>, au moins 1 fois par mois. Que ce soit des réussites
            ou des difficultés, restez honnêtes et transparents.</li>
        <li><b>Soyez succints</b>, faites simple et efficace. Un email avec quelques indicateurs
            clés nous suffit.</li>
        <li><b>L'argent est le nerf de la guerre</b>. Dites-nous combien vous dépensez tous
            les mois et combien vous disposez sur votre compte bancaire. Ne nous dites
            pas que tout se passe bien si vous êtes en difficultés le mois suivant.</li>
    </ul>
    <h3><strong>A vous de jouer !</strong></h3>
  </div>

<div id="onboarding_text_3">
  <h1>Ce que vous pouvez attendre de nous</h1>
  <p>Nous attendons d'être régulièrement informés de vos activités et vous pouvez compter
      sur notre soutien et notre engagement pour vous apporter notre expérience, nos
      conseils et notre écosystème d'experts.</p>
  <h2><b>Par conséquent, vous pouvez attendre de nous</b> :</h2>
  <ul>
      <li><b>Une proximité</b> et une disponibilité pour répondre simplement, rapidement
          et de manière pertinente à vos besoins. Notre <em>focus</em> est de vous
          apporter un maximum de valeur ajoutée.</li>
      <li><b>L'expérience</b> de notre relation avec les entrepreneurs et les acteurs de
          l'innovation en Nouvelle-Aquitaine et en France nous permet d'analyser et
          d'identifier les bonnes pratiques. Nous les partageons avec vous tous les
          mois.</li>
      <li><b>Des outils</b> pour vous aider à accélérer et à piloter votre croissance,
          comme des reportings, des pipes commerciaux, des <em>pitch deck</em>... Nous
          comptons également sur vous pour partager vos propres retours d'expérience
          aux autres entrepreneurs.</li>
      <li><b>Des experts en innovation </b>mobilisés pour répondre à des besoins particuliers:
          financements, gestion d'équipe, communication, innovation...</li>
  </ul>
  <p>Nous sommes engagés pour vous donner les moyens de réussir mais nous sommes humains
      avant tout. Il peut arriver que nous n'ayons pas la réponse ou la solution à
      votre demande. Comptez sur nous pour vous répondre <strong>honnêtement et en toute transparence</strong>.</p>
</div>

<div class="understood-button-block">
  <a class="btn btn-success" href="/">I understand !</a>
</div>






