<h1>
  <strong>Cher(e)s entrepreneur(e)s, ensemble nous démarrons notre
  collaboration, voici quelques recommandations.</strong>
</h1>

<h2 class="welcome">
  BIENVENUE
</h2>
<p>
  Nous vous remercions pour votre confiance et sommes ravis de participer au
  développement de votre entreprise.
</p>
<p>
  Vous recevrez prochainement vos identifiants pour accéder à notre plateforme
  et nous reviendrons vers vous dans quelques semaines pour vous présenter nos
  prochaines actions.
</p>

<h2>
  Avant propos
</h2>
<p>
  Pour démarrer, nous vous avons préparé ce guide avec pour objectif de vous
  partager quelques principes qui nous semblent essentiels pour la réussite de
  votre entreprise.
</p>
<p>
  D'abord, nous souhaitons rapidement nous présenter et partager quelques
  détails pratiques :
</p>

<h2>
  Nos métiers
</h2>
<p>
  Depuis 1998, notre mission est de participer au développement économique de
  la Nouvelle-Aquitaine en participant au financement des fonds propres des
  start-up innovantes et des PME de la Nouvelle-Aquitaine
</p>
<p>
  Nous investissons dans 2 à 3 entreprises tous les mois sous deux formes, en
  prêts d'honneur et/ou en prise de participation minoritaire au capital social
  des entreprises.
</p>
<p>
  En 2018, nos objectifs :
</p>
<ul>
  <li>30 projets d'innovation</li>
  <li>1 800 000 euros sous forme de prêts d'honneur</li>
</ul>

<h2>
  Notre équipe
</h2>
<p>
  Vous pouvez consulter notre expérience sur LinkedIn. Nous sommes basés à
  Bordeaux et travaillons beaucoup par email et par Skype. N'hésitez pas à nous
  suivre.
</p>

<h2>
  Tech Stack
</h2>
<p>
  -- Outlook, Word, Excel, Powerpoint, Keynote, Sketch, Skype, Wunderlist,
  Evernote, Solid, Buffer, Mailjet, WordPress, CloudApp, Spotify
</p>

<h2>
  One Step Forward
</h2>
<p>
  Vous bénéficierez prochainement d'un accès à notre plateforme pour utiliser
  nos outils et rencontrer le reste de la communauté.
</p>

<h2>
  Communication
</h2>
<p>
  Sauf contre-indication de votre part, nous ajoutons votre logo à notre liste
  d'entreprises soutenues, publierons un article de blog et le diffuserons
  auprès de notre communauté. Nous vous remercions de nous mentionner sur votre
  site internet.
</p>

<h2>
  Reporting
</h2>
<p>
  Il est essentiel d'informer vos financeurs régulièrement sur votre activité.
  Nous vous remercions de bien vouloir nous mettre en copie de vos rapports
  d'activités. Les meilleures entreprises nous les communiquent une fois par
  mois. Vous pouvez retrouver plus loin dans ce guide un exemple de format.
</p>

<h2>
  Enquête d'activités annuelle
</h2>
<p>
  En plus du reporting mensuel, nous vous solliciterons 1 fois par an pour vous
  demander quelques données économiques. Notre objectif est que cela reste le
  plus simple et le moins chronophage possibles pour vous.
</p>

<h2>
  Mises en relation
</h2>
<p>
  N'hésitez pas à nous mettre en relation avec d'autres entrepreneurs intéressés
  par notre programme, nous estimons votre opinion et les renseignerons en
  priorité.
</p>

<h2>
  Retours d'expérience
</h2>
<p>
  Un avis, une remarque ? Nous sommes à votre écoute.
</p>
<ul>
  <li>Ce que nous attendons des entrepreneurs</li>
  <li>Ce que les entrepreneurs peuvent attendre de nous</li>
  <li>Quels indicateurs pour suivre la performance de votre entreprise
    innovante ?</li>
</ul>

<p>
  <strong>Ces premières pages ont pour objectif de vous partager les principes
  qui nous semblent essentiels pour la réussite de votre entreprise. Pour aller
  plus loin, sur des sujets plus spécifiques, nous vous invitons à explorer les
  ressources disponibles sur <%= link_to "http://aquiti.herokuapp.com/",
    "http://aquiti.herokuapp.com/" %></strong>
</p>
