<h1>Ce que nous attendons des entrepreneur(e)s</h1>
<p>Nous savons que l'entrepreneuriat est un challenge quotidien.</p>
<p>Nous sommes à vos côtés pour vous donner les moyens, les ressources et l'expertise
    nécessaire pour réussir votre entreprise.</p>
<h2>Quelque soit votre expérience, nous tenons à vous rappeler <b>les éléments qui nous semblent importants pour votre réussite</b> :</h2>
<ul>
    <li><b>Construisez la meilleure équipe</b>. C'est essentiel. Recrutez des personnes
        partageant votre engagement et surpassez-vous.</li>
    <li><b>Développez votre capacité d'apprentissage</b>. Apprenez tous les jours de
        vos erreurs pour prendre de meilleurs décisions.</li>
    <li><b>Trouvez l'équilibre</b> entre ambition et humilité, entre capacité d'écoute
        et détermination.</li>
    <li><b>Restez focus</b>. Votre capacité d'exécution est essentielle.</li>
    <li><b>Accélérez</b>. Vos décisions doivent avoir pour principal objectif de développer
        et de créer davantage de valeur pour votre entreprise.</li>
</ul>
<p>Nous sommes ravis de participer au financement de votre entreprise, nous souhaitons
    votre réussite, mais nous sommes humains avant tout. Nous ne pouvons travailler
    efficacement que si et seulement si vous nous communiquez régulièrement des informations
    claires, honnêtes et pertinentes.</p>
<p>Nous ne sommes pas des investisseurs à court-terme, nous ne finançons pas votre trésorerie
    et nous ne pouvons pas trouver de solutions si vous ne nous partagez pas d'informations
    régulièrement.</p>
<h2>Par conséquent, <b>ce que nous attendons de vous</b> :</h2>
<ul>
    <li><b>Communiquez régulièrement</b>, au moins 1 fois par mois. Que ce soit des réussites
        ou des difficultés, restez honnêtes et transparents.</li>
    <li><b>Soyez succints</b>, faites simple et efficace. Un email avec quelques indicateurs
        clés nous suffit.</li>
    <li><b>L'argent est le nerf de la guerre</b>. Dites-nous combien vous dépensez tous
        les mois et combien vous disposez sur votre compte bancaire. Ne nous dites
        pas que tout se passe bien si vous êtes en difficultés le mois suivant.</li>
</ul>
<h3><strong>A vous de jouer !</strong></h3>
