<h1><b>Cher(e)s entrepreneur(e)s, ensemble nous démarrons notre collaboration, voici quelques recommandations.</b></h1>
<h2><b>Bienvenue</b></h2>
<p>Nous vous remercions pour votre confiance et sommes ravis de participer au développement
    de votre entreprise.</p>
<p>D'abord, nous souhaitons rapidement nous présenter pour comprendre qui nous sommes,
    ce que nous faisons et la manière dont nous travaillons.</p>
<h2><b>Notre métier</b></h2>
<p>En bref, nous investissons tous les mois dans 2 à 3 entreprises en Nouvelle-Aquitaine,
    sous forme de prêts d'honneur jusqu'à 100K€ et/ou de participation au capital
    jusqu'à 3M€.</p>
<h2><b>Notre équipe</b></h2>
<p>L'équipe est répartie entre Bordeaux, Poitiers et Limoges.</p>
<p>Vous pouvez consulter nos profils sur <a href="https://www.linkedin.com/company/2795653/"><em>LinkedIn</em></a>.
    Nous sommes également sur <a href="http://twitter.com/AquitiGestion"><em>Twitter</em></a>.
    N'hésitez pas à nous ajouter et à nous suivre. Nous communiquons principalement
    par <em>email</em>.</p>
<h2><b>Reporting</b></h2>
<p>Il est essentiel d'informer vos investisseurs régulièrement sur votre activité.</p>
<p>Nous vous remercions de bien vouloir nous mettre en copie de vos rapports d'activités.
    Les meilleures entreprises nous les communiquent une fois par mois. Vous pouvez
    télécharger ici <a href="https://cl.ly/2g3q2I3A0l1b">un exemple de format</a>.</p>
<h2><b>Enquête d'activités annuelle</b></h2>
<p>En plus du reporting mensuel, nous vous solliciterons 1 fois par an pour vous demander
    quelques données économiques. Notre objectif est que cela reste le plus simple
    et le moins chronophage possibles pour vous.</p>
<p><b>Les pages suivantes ont pour objectif de vous partager les principes qui nous semblent essentiels pour la réussite de votre entreprise. Pour aller plus loin, sur des sujets plus spécifiques, nous vous invitons à explorer les ressources disponibles sur </b><b><i><a href="http://witty.vc">witty.vc</a>.</i></b>
</p>
