<p>Bonjour,</p>
<p>Je souhaite rencontrer cette personne:</p>
  <p><strong><%= @contact.title %>.</strong></p>
  <p><em><%= @contact.description %></em></p>
<p>Pour la raison : ........ </p>
<p>Pour rappel, notre activité :</p>
<ul>
  <li>Solution : ..........</li>
  <li>Marché visé : .....</li>
</ul>
<p><strong>Nos derniers indicateurs :</strong></p>
<ul>
  <li>Chiffre d’affaires mensuel : ......€</li>
  <li>Nombre de clients : ......#</li>
  <li>Taux de satisfaction : .....%</li>
</ul>
<p>Merci</p>
<p>Bonne journée</p>
