<p>Bonjour,</p>
<p><strong>Nos derniers indicateurs :</strong></p>
<ul>
  <li>Chiffre d’affaires mensuel : .......€</li>
  <li>Dépenses mensuelles : .......€</li>
  <li>Trésorerie disponible à date : .......€</li>
  <li>Nombre de clients : .......#</li>
  <li>Taux de conversion lead - client : ........%</li>
  <li>Taux de satisfaction client : .......%</li>
</ul>
<p><strong>Mes besoins :</strong></p>
  <em>Une nouvelle offre d’emploi?</em><br>
  <em>Une mise en relation avec un de nos experts?</em>
  <em>Un conseil particulier ?</em><br><br>

<p><strong>Quelques informations diverses :</strong></p>
  <em>Un nouveau cas client ? Une récente publication ? <br>
      Une interview ? Bonne nouvelle ou mauvaise nouvelle ; <br>
      Peu importe, nous sommes à votre écoute...</em><br><br>
<p>Merci,</p>
<p>Bonne journée</p>
