<strong><h1>
  <strong>Ce que les entrepreneurs peuvent attendre de nous</strong>
</h1>

<p>
  Une fois le versement des fonds, vous retournez à votre activité et
  nous reprenons nos demandes de financement. Pourtant, nous sommes à présent liés.
  Nous attendons d'être régulièrement informés de vos activités et vous pouvez
  compter sur notre soutien et notre engagement pour vous apporter notre
  expérience, nos conseils et notre communauté d'experts.
</p>
<p>
  Ce que vous pouvez attendre de nous :
</p>
<ul>
  <li>
    <p>
      Une proximité et une disponibilité pour répondre simplement,
      rapidement et de manière pertinente à vos besoins. Notre focus est de vous
      apporter de la valeur ajoutée.L'expérience de notre relation avec les
      entrepreneurs et les acteurs de l'innovation en Nouvelle-Aquitaine et en
      France nous permet d'analyser et d'identifier les bonnes pratiques. Nous
      les partageons avec vous tous les mois.Des experts en innovation mobilisés
      pour répondre à des besoins particuliers: financements, structuration,
      communication, innovation.Des outils pour vous aider à accélérer et à
      piloter votre croissance, comme des reportings, des pipes commerciaux,
      des pitch deck... Nous comptons également sur vous pour partager vos
      propres retours d'expérience aux autres entrepreneurs.
    </p>
  </li>
</ul>

<p>
  Nous sommes engagés pour vous donner les moyens de réussir mais nous
  sommes humains avant tout. Il peut arriver que nous n'ayons pas la réponse ou
  la solution à votre demande. Nous vous le dirons en toute transparence. Nous
  devons tous apprendre à dire non et à accepter lorsqu'il le faut.
</p></strong>
