<strong><h1>
  <strong>Ce que nous attendons des entrepreneurs</strong>
</h1>

<p>
  Nous investissons sous forme de prêts d'honneur dans des
  entrepreneur(e)s engagé(e)s dans des projets d'innovation à fort potentiel de
  développement, de création de valeur et d'emplois.
</p>
<p>
  Nous sommes ravis de participer au financement de votre entreprise et
  à présent, notre objectif est de vous donner les moyens d'accélérer votre
  développement, technique et commerciale.
</p>
<p>
  Par expérience, nous savons que l'entrepreneuriat est un challenge
  quotidien et pour cette raison, nous sommes à vos côtés pour vous donner les
  moyens, les ressources et l'expertise nécessaire pour réussir votre
  entreprise.
</p>
<p>
  Quelque soit votre expérience, nous tenons à vous rappeler les
  éléments qui nous semblent essentiels pour votre réussite :</p>
<ul>
  <li>
    <p>
      Construisez la meilleure équipe. C'est essentiel. Recrutez des
      personnes partageant votre engagement et surpassez-vous,Développez votre
      capacité d'apprentissage. Apprenez tous les jours de vos erreurs pour
      prendre de meilleurs décisions,Trouvez l'équilibre entre ambition et
      humilité, entre capacité d'écoute et détermination.Restez focus. Votre
      capacité d'exécution est essentielle.Accélérez. Vos décisions doivent avoir
      pour principal objectif de développer et de créer davantage de valeur pour
      votre entreprise.
    </p>
  </li>
</ul>

<p>
  Nous sommes ravis de participer au financement de votre entreprise,
  nous souhaitons votre réussite, mais nous sommes humains avant tout. Nous ne
  pouvons travailler efficacement ensemble que si et seulement si vous nous
  communiquez régulièrement des informations claires, honnêtes et
  pertinentes.
</p>
<p>
  Nous ne sommes pas des financeurs à court-terme, nous ne finançons pas
   votre trésorerie et nous ne pouvons pas trouver de solutions si vous ne nous
   partagez aucune information pendant des mois. Ensemble, nous avons un
   engagement de confidentialité pour travailler en toute transparence et en
   toute confiance.
</p>
<p>
  En conséquence, ce que nous attendons de vous :
</p>
<ul>
  <li>
    <p>
      Communiquez régulièrement, au moins 1 fois par mois. Que ce soit
      des réussites ou des difficultés, restez honnêtes et transparents.Soyez
      succints, faites simple et efficace. Un email avec quelques indicateurs
      clés nous suffit.L'argent est le nerf de la guerre. Dites-nous combien
      vous dépensez tous les mois et combien vous disposez sur votre compte
      bancaire. Ne nous dites pas que tout se passe bien et être en difficultés
      un mois plus tard.
    </p>
  </li>
</ul>

<p>
  A vous de jouer !
</p></strong>
