<strong><h1><strong>
  Quels indicateurs pour suivre la performance de votre entreprise innovante ?
</strong></h1>

<p>
  En tant qu'entrepreneur(e), il est essentiel de mesurer et de
  maîtriser vos indicateurs clés, pour connaître vos performances, anticiper
  vos besoins et convaincre vos potentiels investisseurs.
</p>
<p>
  Alors, quel tableau de bord construire et avec quelles données ?
</p>
<p>
  Selon votre activité et vos problématiques, il existe de nombreux
  indicateurs différents.
</p>
<p>
  <%= link_to 'https://a16z.com/2015/08/21/16-metrics/',
  'https://a16z.com/2015/08/21/16-metrics/' %>
</p>
<p>
  Pour commencer, nous vous proposons les données qui nous semblent
  essentiels, ainsi que le tableau de bord “kit de démarrage” à télécharger et
  à mettre à jour régulièrement.
</p>
<p>
  Trois catégories d’indicateurs
</p>
<p>
  Nous avons structurés le tableau de bord autour de trois catégories :
</p>
<ul>
  <li>
    Les indicateurs financiers. C'est le nerf de la guerre et en tant
    que dirigeant d'entreprise, vous devez parfaitement maîtriser ces chiffres
    par anticiper vos besoins ;L'avancement commercial, pour savoir si vous
    parvenez à convaincre vos prospects efficacement.La satisfaction client,
    pour savoir si votre produit répond aux besoins de vos clients et s'ils
    sont satisfaits.
  </li>
</ul>
<p>
  Ci-dessous, la description des indicateurs pour chaque catégorie :
</p>
<p>
  Indicateurs financiers
</p>
<ul>
  <li>
    Chiffre d'affaires mensuel
  </li>
</ul>
<p>
  Votre chiffre d'affaires mensuel permet de mesurer votre volume d'activités
  sur 1 mois. Si vous ne générez pas encore de revenus, identifiez d'autres
  données liées à votre activité. Pour un projet numérique, cela peut être le
  nombre d'utilisateurs actifs mensuels par exemple.
</p>
<ul>
  <li>
    Dépenses mensuelles
  </li>
</ul>
<p>
  Il est essentiel de connaître le montant de vos dépenses mensuelles. En
  tant que dirigeant d'entreprise, votre objectif est de maintenir un niveau de
  dépenses raisonnable. Si vous observez une augmentation significative
  inexplicable, demandez-vous quels sont les leviers actionnables pour diminuer
  vos dépenses. Cette donnée est importante et est à mettre en perspective avec
  votre chiffre d'affaires mensuel pour savoir si vous gagnez de l'argent ou si
  vous en perdez, et avec votre trésorerie disponible pour anticiper un
  éventuel besoin financier.
</p>
<ul>
  <li>
    Trésorerie disponible
  </li>
</ul>
<p>
  En tant que dirigeant d'entreprise, vous devez également savoir précisément
  de combien vous disposez sur votre compte bancaire. N'oubliez pas qu'il est
  plus simple de trouver des financements publiques ou privés lorsque vous n'en
  avez pas besoin. D'abord parce que les processus sont longs, ensuite parce
  que cela démontre que vous savez gérer votre entreprise et enfin parce que
  cela vous met dans les meilleures conditions pour négocier.
</p>
<p>
  Avancement commercial
</p>
<ul>
  <li>
    Nombre de clients payants
  </li>
</ul>
<p>
  Cette donnée est à mettre en perspective avec le nombre de clients
  enregistrés sur la période suivante pour évaluer la performance de vos
  actions commerciales.
</p>
<ul>
  <li>
    Taux de transformation client
  </li>
</ul>
<p>
  L'objectif est de savoir si vos techniques d'acquisition clients fonctionnent
  et si vos actions sont efficaces pour convertir des prospects en clients.
</p>
<p>
  Pour obtenir cette donnée, il suffit de calculer le pourcentage entre le
  nombre de prospects contactés et le nombre de nouveaux clients signés.
</p>
<p>
  Satisfaction client
  </p>
<ul>
  <li>
    Net Promoter Score
  </li>
</ul>
<p>
  Le Net Promoter Score (NPS) vous permet de savoir si votre produit ou
  service répond aux attentes de vos utilisateurs en quantifiant leur niveau
  de satisfaction.
</p>
<p>
  Cet indicateur permet de mesurer la satisfaction et le degré de fidélisation
  de vos clients. Il permet d’identifier vos clients promoteurs, détracteurs et
  passifs et ainsi d’orienter vos actions marketing vers le bon groupe de
  clients au bon moment.
</p>
<p>
  Les indicateurs métiers
</p>
<p>
  Au-delà de tous ces indicateurs très génériques, il nous semble indispensable
  que vous mettiez en place très tôt des indicateurs de performance spécifiques
  à votre activité. C’est à vous de les définir, de suivre leur évolution, de
  les comparer aux standards du secteur et de fixer des objectifs à atteindre
  pour piloter votre activité et motiver vos équipes. 3 ou 4 indicateurs
  suffisent généralement mais il faut sélectionner les plus pertinents. Pour
  une start-up numérique, il y a l’embarras du choix : nombre de visiteurs
  uniques, taux de rebond, coût d’acquisition client, taux de trafic naturel vs
  payant, taux de retour…. Pour les logiciels SaaS aussi même si on suit
  généralement le nombre d’utilisateurs, le MRR (Monthly Recurring Revenue) et
  le taux de churn. Pour les sociétés industrielles, on peut par exemple
  s’intéresser aux taux d’occupation de la ligne, taux de rebut, taux de
  rotation des stocks ainsi bien sûr que la marge brute.
</p>
<p>
  Pour finir, comment utiliser ce tableau de bord "kit de démarrage", pour qui
  et à quelle fréquence ?
</p>
<p>
  Le suivi de vos performances par des données chiffrées est essentiel pour
  valider vos hypothèses, comprendre vos réussites, analyser vos échecs et
  prendre les décisions et les actions pertinentes.
</p>
<p>
  Ce tableau de bord peut s'adresser à trois profils différents :
</p>
<ul>
  <li>
    Pour vous d'abord, pour vous permettre de prendre du recul sur votre
    activité quotidienne. Pour votre équipe également, pour être transparent
    sur la performance de l'entreprise. Pour vos investisseurs et vos
    financeurs enfin, pour gagner leur confiance, valoriser vos succès et
    anticiper vos difficultés.
  </li>
</ul>
<p>
  Nous vous encourageons à suivre ces indicateurs dès le début de votre
  activité, sur un rythme mensuel. Créez une action mensuelle dans votre
  gestionnaire ou utilisez ce script pour vous envoyer un rappel tous les mois.
</p>
<p>
  <%= link_to 'https://zapier.com/app/editor/template/1926',
  'https://zapier.com/app/editor/template/1926' %>
</p>
<p>
  Pour finir, quelques conseils complémentaires :
</p>
<ul>
  <li>
    Comparez vos données dans la duréeÀ l’instant t, il peut être difficile
    de comprendre la signification d'une donnée. Les chiffres sont intéressants
    de façon dynamiques, en comparaison à d'autres périodes. En démarrant
    maintenant et en mettant à jour régulièrement et sérieusement ce tableau de
    bord, vous mesurez rapidement la valeur ajoutée.Essayez d’avoir une vision
    “d’avant” Si vous ne partez pas de zéro, nous vous invitons à inclure dans
    votre tableau de bord l’historique de votre activité. Si possible,
    remontez sur 12 mois, au minimum 6 mois, pour observer, comparer et
    comprendre les évolutions, pour prendre plus rapidement les decisions et
    les actions nécessaires au développement de votre entreprise.Fixez-vous des
    objectifsFixez-vous des objectifs clairs et chiffrés, en réfléchissant aux
    moyens que vous allez mettre en oeuvre pour y parvenir.
  </li>
</ul>
<p>
  A présent, à vous de jouer !
</p>
<p>
  N’hésitez pas à partager cet article autour de vous s’il vous a été utile
  (nous apprécions beaucoup les partages, cela nous encourage à partager encore
  plus avec vous !) et surtout à télécharger d’urgence le modèle de tableau de
  bord !
</p></strong>
