<div class="container">
  <div class="row ">
    <div class="col-xs-12 col-md-8 col-md-offset-2 ">
    <div class="form-model">

        <h1 class="text-center report-title">Your report</h1>
        <p class="text-center" id="italic-under-title">
        This will send an email with the message below</p>
        <%= render 'shared/mail_form', text: 'text_report' %>

    </div>
  </div>
</div>
