<%= render partial: "shared/button_tag" %>

<div class="products-container">
  <% @contacts.each do |contact| %>
    <%= render partial: "contacts/card", locals: { contact: contact, test: "nice" } %>
  <% end %>
</div>
