<% content_for :title, "- Our contact list" %>

<%= render "shared/button_tag", button: 'shuffle' %>

<div class="contact-cards-container">
  <% @contacts.each do |contact| %>
    <%= render "card", contact: contact  %>
  <% end %>
</div>

<%= render partial: "shared/drift" %>

<% content_for(:after_js) do %>
<script>
  $(document).ready(function(){
    var $network_container = $('.contact-cards-container').isotope({
      itemSelector: '.filtered-item',
      percentPosition: true,
      resize: true,
      initLayout: true,
      masonry: {
        columnWidth: '.filtered-item'
      }
    });

    var $radio = $('.contact-cards-container .radio input');
    $('.filters').on('click', 'input', function() {
      $network_container.isotope({ filter: this.value });
    });

    $('#shuffle').click(function(){
      $network_container.isotope('shuffle');
    });
  })
</script>
<% end %>
