<% content_for :title do %>
   - Our contact list
<% end %>

<%= render "shared/button_tag", button: 'shuffle' %>

<div class="contact-cards-container">
  <% @contacts.each do |contact| %>
    <%= render "card", contact: contact  %>
  <% end %>
</div>

<%= render partial: "shared/drift" %>
