<%= render partial: "shared/button_tag", locals: { button: 'shuffle' } %>

<div class="products-container contact-cards-container">
  <% @contacts.each do |contact| %>
    <%= render partial: "contacts/card", locals: { contact: contact } %>
  <% end %>
</div>
