// ----------- this style is for "Knowledge" path -----------
@mixin flex-direction($direction) {
  flex-flow: $direction wrap;
}

.article-latest-cards-container {
  width: 70%;
  margin-left: -30px;
}
.article-upvoted-cards-container {
  margin-left: 26%;
  width: 70%;
  .filtered-item {
    display: flex;
    flex-direction: row;
    width: 100%;
  }
}

.card {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 15px 30px;
  margin: 0 0 35px 30px;
  border-radius: $border-radius-large;
  align-items: center;
  background-color: #fff;
  a {
    color: $green;
    &:hover {
      text-decoration: none;
      color: $green;
    }
  }
}

/* Upvote design */
.upvote-block, .card-upvote {
  display: flex;
  flex: 0 1 auto;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin: 0 10px;
}
.card-upvote {
  transition: all 0.15s ease;
  font-size: $p-size;
  line-height: 10px;
  &:focus {
    text-decoration: none;
  }
}
.card-arrow {
  font-size: 30px;
  margin-bottom: 15px;
}
.card-count {
  font-size: 15px;
  color: $green;
  text-align: center;
}

// middle of the card, with the title & the description
.card-details {
  display: flex;
  flex: 6 1 70%;
  flex-direction: column;
  p {
    color: $gray;
    font-size: $p-size;
    word-break: break-all;
  }
  h2 {
    font-weight: bold;
    font-size: $h2-size;
    color: $gray;
  }
}

/* Controls design */
.card-controls {
  flex: 0 0 20%;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  margin-left: auto;
  @include flex-direction(column);
}
.card-controls a {
  color: $medium-gray;
  padding: 20px;
  border-radius: $border-radius-large;
  a {
    text-decoration: none;
  }
  &:hover {
    color: $yellow;
  }
  i {
    font-size: 20px;
  }
}

// horizontal rules separators "latest" & "most popular"
// display: flex; kicks the beautiful hr...
hr.latest, hr.popular {
  border-top: 1px solid #8c8b8b;
  text-align: center;
  width: 80%;
}
// need to refacto this better...
hr.popular {
  margin-left: 33%;
  margin-right: 11%;
  width: 80%;
}
hr.latest::after, hr.popular::after {
  content: 'FEATURED';
  display: inline-block;
  position: relative;
  top: -14px;
  padding: 0 40px;
  background: $light-gray;
  color: #8c8b8b;
  font-size: 18px;
}
hr.popular::after {
  content: 'MOST POPULAR';
}
