// was super useful but before... xD
@mixin flex-direction($direction) {
  flex-flow: $direction wrap;
}
.wrapper {
  padding-top: 50px;
  width: 65%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  @include flex-direction(row);
}
