// ----------- this style is for "Knowledge" path -----------
.article-latest-cards-container {
  width: 100%;
}
.article-upvoted-cards-container {
  width: 100%;
  .filtered-item {
    display: flex;
    flex-direction: row;
    width: 100%;
    &:hover .card-details * {
      color: $green;
      transition: 400ms;
    }
  }
}
.article-latest-cards-container .filtered-item:hover .card-details * {
  color: $green;
  transition: 400ms;
}

.card {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin: 0 0 35px 0;
  border-radius: $border-radius-large;
  align-items: center;
  background-color: #fff;
  a {
    display: flex;
    &:hover {
      transition: 400ms;
      text-decoration: none;
      color: $green;
    }
  }
}

// !! be careful if you want to change the 2 selectors below !!
.upvote-details-controls-container {
  display: flex;
  flex: 1;
  padding: 10px 20px;
}

object {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  .card-upvote:hover {
    color: $green;
  }
}

// maybe a way to make this one perfect...

/* Upvote design */
.upvote-block {
  flex: 0 1 7%;
  text-align: center;
  margin: 0 10px;
  .card-upvote {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
    transition: all 0.15s ease;
    font-size: $mid-size;
    line-height: 10px;
    padding: $mid-size 0;
    &:focus {
      text-decoration: none;
    }
    span {
      padding: 10px 0;
    }
  }
}

// middle of the card, with the title & the description
.card-details {
  display: flex;
  flex: 6 1 70%;
  flex-direction: column;
}

/* Controls design */
.card-controls {
  flex: 0 0 20%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  flex-direction: column;
  a {
    color: $medium-gray;
    padding: 20px;
    border-radius: $border-radius-large;
  }
  .btn-share-block {
    border: 1px solid $medium-gray;
    border-radius: $border-radius-xxl;
  }
}

.aside-container {
  display: flex;
  flex: $aside-container-size;
  flex-direction: column;
}
