// ----------- this style is for "Knowledge" path -----------
@mixin flex-direction($direction) {
  flex-flow: $direction wrap;
}

.article-latest-cards-container {
  width: 70%;
  margin-left: -30px;
}
.article-upvoted-cards-container {
  margin-left: 26%;
  width: 70%;
  .filtered-item {
    display: flex;
    flex-direction: row;
    width: 100%;
    &:hover .card-details * {
      color: $green;
      transition: 400ms;
    }
  }
}
.article-latest-cards-container .filtered-item:hover .card-details * {
  color: $green;
  transition: 400ms;
}

.card {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin: 0 0 35px 30px;
  border-radius: $border-radius-large;
  align-items: center;
  background-color: #fff;
  a {
    display: flex;
    &:hover {
      transition: 400ms;
      text-decoration: none;
      color: $green;
    }
  }
}

// !! be careful if you want to change the 2 selectors below !!
.upvote-details-controls-container {
  display: flex;
  flex: 1;
  padding: 10px 20px;
}

object {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
}

// maybe a way to make this one perfect...
object .card-upvote:hover {
  color: $green;
}

/* Upvote design */
.upvote-block {
  flex: 0 1 7%;
  text-align: center;
  margin: 0 10px;
  .card-upvote {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
    transition: all 0.15s ease;
    font-size: $mid-size;
    line-height: 10px;
    padding: $mid-size 0;
    &:focus {
      text-decoration: none;
    }
    span {
      padding: 10px 0;
    }
  }
}

// middle of the card, with the title & the description
.card-details {
  display: flex;
  flex: 6 1 70%;
  flex-direction: column;
}

/* Controls design */
.card-controls {
  flex: 0 0 20%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  flex-direction: column;
  a {
    color: $medium-gray;
    padding: 20px;
    border-radius: $border-radius-large;
  }
  .btn-share-block {
    border: 1px solid $medium-gray;
    border-radius: $border-radius-xxl;
  }
}

// --------- kick the part below ? ---------
hr.latest, hr.popular {
  border-top: 1px solid #8c8b8b;
  text-align: center;
  width: 80%;
}
hr.popular {
  margin-left: 33%;
  margin-right: 11%;
  width: 80%;
}
hr.latest::after, hr.popular::after {
  content: 'FEATURED';
  display: inline-block;
  position: relative;
  top: -14px;
  padding: 0 40px;
  background: $light-gray;
  color: #8c8b8b;
  font-size: 18px;
}
hr.popular::after {
  content: 'MOST POPULAR';
}
