.sticky-button-tags-container {
  display: flex;
  position: sticky;
  flex-direction: column;
  justify-content: space-between;
  top: 40px;
  width: 26%;
  .green-button {
    padding: 10px;
    background-color: $green;
    text-transform: uppercase;
    color:#fff;
    border-radius: $border-radius-large;
  }
  .add-link-block {
    margin: 0 auto;
    width: 85%;
  }
  .button-tags-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px 0;
    height: 200px;
    background-color: #fff;
    border-radius: $border-radius-large;
    p {
      width: 80%;
      margin: 0 auto;
    }
    .filters {
      display: flex;
      width: 90%;
      margin: 0 auto;
      flex-direction: row;
      align-items: center;
      align-content: center;
      justify-content: center;
      flex-wrap: wrap;
      .show-all {
        flex: 0 1 55%;
      }
      label {
        display: flex;
        flex: 1 1 calc(50% - 60px);
        margin: 10px;
        justify-content: center;
        border: 1px solid $medium-gray;
        align-items: center;
        border-radius: $border-radius-supo;
        cursor: default;
      }
      input[type=radio] {
        display: none;
        &:hover + label {
          background-color: $medium-gray;
          color: $black;
          transition: 400ms;
        }
        &:checked + label {
          background-color: $green;
          color: #fff;
          transition: 400ms;
        }
      }
    }
  }
}
