.button-tags-container {
  width: 26%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 10px 0;
  margin-right: 30px;
  height: 300px;
  background-color: #fff;
  border-radius: $border-radius-large;

  .green-button {
    background-color: $green;
    text-transform: uppercase;
    color:#fff;
    border-radius: $border-radius-large;
    margin: 0 40px;
    padding: 10px;
  }
  .filters {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
    .show-all {
      flex: 0 1 55%;
    }
    label {
      display: flex;
      flex: 1 1 calc(50% - 20px);
      margin: 10px;
      justify-content: center;
      align-items: center;
      border-radius: 5px;
      cursor: default;
      border: 1px solid $green;
    }
    input[type=radio] {
      display: none;
      &:checked + label {
        background-color: $green;
        color: #fff;
        transition: 400ms;
      }
    }
  }
}

// some sticky maybe ?
.sticky {
  position: sticky;
  top: 40px;
}
