.products-container {
  // don't delete this selector, reminder for later on..
}
.product {
  display: flex;
  justify-content: space-between;
  padding: 30px;
  margin: $margin-between-cards;
  border-radius: $border-radius-large;
  align-items: center;
  background-color: #fff;
  h2 {
    font-weight: bold;
    font-size: $h2-size;
  }
  p {
    color: $gray;
    font-size: $p-size;
  }
  a {
    color: $green;
    &:hover {
      text-decoration: none;
      color: $green;
    }
  }
}

/* Upvote design */
.upvote-block, .product-upvote {
  display: flex;
  // border: solid 1px yellow;
  flex-direction: column;
  justify-content: center;
  margin: 0 3%;
}
.product-upvote {
  transition: all 0.15s ease;
  font-size: $p-size;
  line-height: 10px;
  &:focus {
    text-decoration: none;
  }
}
.product-arrow {
  font-size: 30px;
  margin-bottom: 15px;
}
.product-count {
  font-size: 15px;
  color: $green;
  text-align: center;
}

// middle of the card, with the title & the description
.product-details {
  display: flex;
  flex: 2 1 60%;
  flex-direction: column;
  justify-content: center;
  // border: solid 1px red;
}

/* Controls design */
.product-controls {
  flex: 0 0 20%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  // border: 1px solid teal;
}
.product-controls a {
  color: #fff;
  padding: 20px;
  border-radius: $border-radius-large;
  background-color: $green;
  &:hover {
    color: $yellow;
  }
  i {
    font-size: 20px;
  }
}

// .product-controls-hidden a {
//   color: transparent;
//   font-size: 15px;
//   transition: all 0.15s ease;
//   border-color: transparent;
// }

// Hover effects
.product:hover {
  background: #FFF;
  cursor: pointer;
}
.product-upvote:hover, .product-upvote.product-upvote-upvoted {
  color: #5898f1;
  cursor: pointer;
}
.product-upvote-upvoted .product-arrow {
  border-bottom-color: #5898f1;
}
.product:hover .product-upvote {
  transform: scale(1.2)
}
.product:hover .product-controls-hidden a {
  color: #E6E6E6;
}

// horizontal rules separators "latest" & "most popular"
hr.latest, hr.popular {
  border-top: 1px solid #8c8b8b;
  text-align: center;
  margin-top: 50px;
}
hr.latest::after, hr.popular::after {
  content: 'LATEST';
  display: inline-block;
  position: relative;
  top: -14px;
  padding: 0 40px;
  background: $light-gray;
  color: #8c8b8b;
  font-size: 18px;
}
hr.popular::after {
  content: 'MOST POPULAR';
}
