not sure if needed, do we have
* {
  box-sizing: border-box;
}
.wrapper {
  width: 75vw;
  margin: 0 auto;
}
.products-container {
  // don't delete this selector, reminder for later on..
}
.product {
  display: flex;
  justify-content: space-around;
  padding: 30px;
  margin: $margin-between-cards;
  border-radius: $border-radius-large;
  align-items: center;
  background-color: #fff;
  h2 {
    font-weight: bold;
    font-size: 23px;
  }
  p {
    font-weight: lighter;
    color: $gray;
    font-size: 14px;
  }
  a {
    background-color: $green;
    color: #fff;
    &:hover {
      text-decoration: none;
    }
  }
}

/* Upvote design */
.product-upvote {
  padding-right: 30px;
  text-align: center;
  transition: all 0.15s ease;
  font-weight: bold;
  font-size: 13px;
  line-height: 20px;
}
.product-count {
  margin: 2px 0 0;
  color: red;
}
.product-arrow {
  transition: all 0.15s ease;
  width: 0;
  height: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 6px solid transparent;
  border-bottom: 9px solid black;
  border-radius: $border-radius-small;
  margin: auto;
}

/* Controls design */
.product-controls {
  flex: 0 0 200px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.product-controls a {
  color: $gray;
  padding: 20px;
  &:hover {
    color: $green;
  }
  i {
    font-size: 30px;
  }
}

// .product-controls-hidden a {
//   color: transparent;
//   font-size: 15px;
//   transition: all 0.15s ease;
//   border-color: transparent;
// }
#btn-share {
  background-color: $green;
  color: #FFF;
  padding: 20px;
  border-radius: $border-radius-large;
  &:hover {
    background-color: $light-gray;
  }
}

// Hover effects
.product:hover {
  background: #FFF;
  cursor: pointer;
}
.product-upvote:hover, .product-upvote.product-upvote-upvoted {
  color: #5898f1;
  cursor: pointer;
}
.product-upvote-upvoted .product-arrow {
  border-bottom-color: #5898f1;
}
.product:hover .product-upvote {
  transform: scale(1.2)
}
.product:hover .product-controls-hidden a {
  color: #E6E6E6;
}
.product-upvote:hover .product-arrow {
  border-bottom: 9px solid #5898f1;
}

// horizontal rules separators "latest" & "most popular"
hr.latest, hr.popular {
  border-top: 1px solid #8c8b8b;
  text-align: center;
}
hr.latest::after, hr.popular::after {
  content: 'LATEST';
  display: inline-block;
  position: relative;
  top: -14px;
  padding: 0 40px;
  background: #F4F4F4;
  color: #8c8b8b;
  font-size: 18px;
}
hr.popular::after {
  content: 'MOST POPULAR';
}
