h2 {
  margin-top: 0;
}
.products-container {
  width: 70%;
  display: flex;
  flex-flow: row wrap;
  margin-left: -$gutter;
}

.contact-cards-container .filtr-item {
  flex-direction: column;
  width: calc(50% - #{$gutter});
}
.unboarding-container {
  margin-left: 0; // removes the one from products-container
  flex: 1 1 70%;
}
// surely need to be erased
// .sliced {
//   @extend .product;
//   margin: 0 0 20px $gutter;
//   a {
//     color: $gray;
//     font-size: $p-size;
//     font-weight: bold;
//     padding: 10px;
//     border-radius: $border-radius-large;
//     &:hover {
//       color: $yellow;
//     }
//   }
// }

.horizontal-wrapper {
  @extend .wrapper;
  @include flex-direction(row);
}
.contact-cards-container .product-controls {
  @include flex-direction(row);
  a {
    padding: 0 20px;
  }
}
.filtr-container {
  margin-left: 26%;
}
.ask-intro {
  background-color: $green;
}

// fancy hover stuff
@mixin shadow($depth) {
  box-shadow: 0 0 ($depth * 8px) 0 rgba(0,0,0,0.2),
      ($depth * 2px) ($depth * 2px) ($depth * 2px) 0 rgba(0,0,0,0.25);
}

.product {
  transition: all .25s ease-in-out;
  &:hover {
    @include shadow(1);
  }
}
