// ----------- this style is for "Network" path -----------

@mixin flex-direction($direction) {
  flex-flow: $direction wrap;
}
h2 {
  margin-top: 0;
}
.contact-cards-container {
  width: 70%;
  display: flex;
  flex-flow: row wrap;
  margin-left: -$gutter;
  // maybe export it into the isotope.js script ?
  .filtered-item {
    flex-direction: column;
    width: calc(50% - #{$gutter});
  }
}

// surely need to be erased
// .sliced {
//   @extend .card;
//   margin: 0 0 20px $gutter;
//   a {
//     color: $gray;
//     font-size: $p-size;
//     font-weight: bold;
//     padding: 10px;
//     border-radius: $border-radius-large;
//     &:hover {
//       color: $yellow;
//     }
//   }
// }

.horizontal-wrapper {
  @extend .wrapper;
  @include flex-direction(row);
}
.contact-cards-container .card-controls {
  @include flex-direction(row);
  a {
    padding: 0 20px;
  }
}
.ask-intro {
  background-color: $green;
}

// fancy hover stuff
@mixin shadow($depth) {
  box-shadow: 0 0 ($depth * 8px) 0 rgba(0,0,0,0.2),
      ($depth * 2px) ($depth * 2px) ($depth * 2px) 0 rgba(0,0,0,0.25);
}

.card {
  transition: all .25s ease-in-out;
  &:hover {
    @include shadow(1);
  }
}

.wrapper {
  padding-top: 50px;
  width: 65%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  @include flex-direction(row);
}
