// main container
.navbar-wagon {
  box-shadow: 0 1px 5px 0 rgba(0,0,0,0.07),0 1px 0 0 rgba(0,0,0,0.03);
  background: white;
  height: 80px;
  padding: 0px 30px;
  display: flex;
  align-items: center;
}
#navbar-wagon-left, #navbar-wagon-middle, #navbar-wagon-right {
  height: 100px;
}

#navbar-wagon-left {
  display: flex;
  flex: 1 1 (100% / 3);
  justify-content: center;
}
.navbar-wagon-brand {
  display: flex;
  align-items: center;
}
.navbar-wagon-brand img {
  height: 60px;
}

#navbar-wagon-middle {
  display: flex;
  flex-direction: row;
  flex: 1 1 (100% / 3);
  justify-content: center;
  font-weight: bold;
  .section {
    color: $medium-gray;
    cursor: pointer;
    padding: 35px 60px;
    font-size: $p-size;
    height: 90%;
    &:hover {
      color: $green;
    }
  }
  .active {
    border-bottom: solid $green 10px;
    color: #000;
    text-align: center;
  }
}
#navbar-wagon-right {
  flex: 1 1 (100% / 3);
  display: flex;
  align-items: center;
  justify-content: center;
}
/* Basic navbar item */
.navbar-wagon-item {
  padding: 0 20px;
}

/* Navbar link */
.navbar-wagon-link {
  // transition: color 0.3s ease;
  font-weight: bold;
  margin-right: 20px;
  color: $green;
  font-size: 14px;
  &:hover {
    color: $yellow;
    text-decoration: none;
  }
}
a:hover, a:focus {
  text-decoration: none;
}

/* Dropdown menu */
.navbar-wagon-dropdown-menu {
  margin-top: 15px;
  box-shadow: 1px 1px 4px $light-gray;
  border-color: $light-gray;
}
.navbar-wagon-dropdown-menu li > a {
  // transition: color 0.3s ease;
  font-weight: lighter;
  color: $green;
  font-size: 15px;
  line-height: 22px;
  padding: 10px 20px;
}
.navbar-wagon-dropdown-menu li > a:hover {
  background: transparent;
  color: $orange;
}
.navbar-wagon-dropdown-menu:before {
  content: ' ';
  height: 10px;
  width: 10px;
  position: absolute;
  right: 10px;
  top: -6px;
  background-color: #FFF;
  transform: rotate(45deg);
  border-left: 1px solid #E6E6E6;
  border-top: 1px solid #E6E6E6;
}
// css provisoire pour le formulaire de reporting
#report {
  width: 450px;
  background-color: $medium-gray;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2) ;
}
