// main container
.navbar-wagon {
  background: white;
  height: 80px;
  padding: 0px 30px;
  display: flex;
  align-items: center;
}
#navbar-wagon-left, #navbar-wagon-middle, #navbar-wagon-right {
  height: 100px;
}
#navbar-wagon-left {
  display: flex;
  flex: 1 1 (100% / 3);
  justify-content: center;
}
.navbar-wagon-brand {
  display: flex;
  align-items: center;
}
.navbar-wagon-brand img {
  height: 60px;
}

// --------- middle part ---------
#navbar-wagon-middle {
  display: flex;
  flex-direction: row;
  flex: 1 1 (100% / 3);
  justify-content: center;
  font-weight: bold;
  .section {
    color: $medium-gray;
    cursor: pointer;
    padding: 35px 60px;
    font-size: $p-size;
    height: 90%;
    &:hover {
      color: $green;
    }
  }
  .active {
    border-bottom: solid $green 10px;
    color: #000;
    text-align: center;
  }
}
/* Basic navbar item */
.navbar-wagon-item {
  padding: 0 $margin-navbar;
}

// --------- right part ---------
#navbar-wagon-right {
  flex: 1 1 (100% / 3);
  display: flex;
  align-items: center;
  justify-content: center;

  /* Navbar link */
  .call-to-action {
    transition: color 0.3s ease;
    font-weight: bold;
    margin-right: $margin-navbar * 2;
    padding: 10px;
    color: $green;
    font-size: $mid-size;
    border: 2px solid $green;
    &:hover {
      background-color: $green;
      color: #fff;
      transition: 400ms;
      text-decoration: none;
    }
  }
  .profile-dropdown {
    display: flex;
    justify-content: center;
    align-items: center;
    .avatar {
      font-size: $h2-size;
      font-weight: bold;
      color: #fff;
      background-color: $green;
      text-align: center;
      margin: 0;
      padding: 3px 15px;
    }
    .dropdown {
      height: $three-dots * 2;
      .dropdown-toggle {
        color: $black;
        font-size: $three-dots;
        margin: 0 $margin-navbar;
      }
    }
    a:hover, a:focus {
      text-decoration: none;
    }
  }
  /* Dropdown menu */
  .navbar-wagon-dropdown-menu {
    color: $black;
    margin-top: 15px;
    border-color: $light-gray;
  }
  .navbar-wagon-dropdown-menu li > a {
    transition: color 0.3s ease;
    font-weight: lighter;
    color: $black;
    font-size: 15px;
    line-height: 22px;
    padding: 10px 20px;
  }
  .navbar-wagon-dropdown-menu li > a:hover {
    background: transparent;
    color: $green;
  }
  .navbar-wagon-dropdown-menu:before {
    content: ' ';
    height: 10px;
    width: 10px;
    position: absolute;
    right: 10px;
    top: -6px;
    background-color: #FFF;
    transform: rotate(45deg);
    border-left: 1px solid #E6E6E6;
    border-top: 1px solid #E6E6E6;
  }
}
