p a {
  color: $green;
  &:hover {
    color: $turquoise;
  }
}
.onboarding-container {
  background-color: #fff;
  padding: 20px 40px;
  margin-left: 0; // removes the one from cards-container
  flex: 1 1 70%;
  h1 {
    margin-bottom: 30px;
    font-size: $h2-size + 8;
  }
  h2 {
    font-weight: bold;
    font-size: $h2-size - 4;
  }
}
.smaller-tags-container {
  height: 300px;
}

a {
  &:hover, &:active, &:focus {
    color: $green;
  }
}
.welcome {
  font-weight: bold;
  font-size: $p-size;
  margin: 0;
}
.understood-button-block {
  display: flex;
  flex: 1 1 100%;
  justify-content: flex-end;
  margin: 0;
}

#onboarding-scrollspied {
  position: relative;
  height: 80vh;
  overflow-y: auto;
}
[id*=onboarding_text_]{
  margin: $padding-onboarding 0;
}
[id*=onboarding_text_]:first-of-type {
  margin: 0 0 $padding-onboarding 0;
}
// :nth-last-of-type(n) selector matches every element that is the n-th child,
// of a particular type, of its parent, counting from the last child.
[id*=onboarding_text_]:nth-last-of-type(2) {
  margin: $padding-onboarding 0 0 0;
}
